.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: #094067;
    border-radius: 10px;
    padding: 20px;
}

.nameArea {
    color: #fffffe;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.inner {
    margin-top: 10px;
    background-color: #faf5f0;
    border-radius: 10px;
    padding: 20px 25px;
}

.flex_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.two_column {
    width: 48.5%;
}

.icon_area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon {
    object-fit: contain;
    position: relative !important;
    width: auto !important;
    height: 150px !important;
}

.basic_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.basic_info li {
    margin-top: 20px;
}

.imgArea img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.match_text {
    height: auto;
    font-size: 18px;
    line-height: 180%;
}

.subheading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 23px;
    font-weight: 600;
}

.question_item {
    font-size: 18px;
    margin-top: 15px;
    margin-left: 15px;
    line-height: 180%;
}

.analyzeArea h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
}

/* analyzeAreaのh2の1個目に対するcss */
.analyzeArea h2:first-child {
    margin-top: 0;
}

.analyzeArea p {
    line-height: 2rem;
}

.usage {
    margin-top: 3rem;
    width: 250px;
}

.usage li {
    margin-top: 1rem;
}

.link {
    color: #fffffe;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 100%;
    }
    .flex_column {
        flex-direction: column;
    }
    .two_column {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main {
        width: 100%;
        min-width: 100px;
    }
}
