/* 
* PC size
* text -> font-size: 20px;
* heading -> font-size: 25px;
*
* mobile size
* text -> font-size: 12px;
* heading -> font-size: 20px;
* */

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    background-color: #094067;
    border-radius: 10px;
    padding: 20px;
}

.nameArea {
    color: #fffffe;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.inner {
    margin-top: 10px;
    background-color: #faf5f0;
    border-radius: 10px;
    padding: 20px 25px;
}

.flex_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.two_column {
    width: 48.5%;
}

.icon_area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.icon_wrapper {
    /* padding: 10px; */
    border: 3px solid #094067;
    border-radius: 10px;
    background-color: #fffffe;
}

.icon {
    object-fit: contain;
    position: relative !important;
    width: auto !important;
    height: 200px !important;
    border-radius: 10px;
}

.basic_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 20px;
}

.basic_info li {
    margin-top: 20px;
}

.analyzeArea h2 {
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

/* analyzeAreaのh2の1個目に対するcss */
.analyzeArea h2:first-child {
    margin-top: 0;
}

.analyzeArea p {
    font-size: 20px;
    line-height: 180%;
}

.usage {
    margin-top: 40px;
    width: 300px;
}

.usage li {
    font-size: 18px;
    margin-top: 15px;
}

.imgArea img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.match_text {
    height: auto;
    font-size: 20px;
    line-height: 180%;
}

.subheading {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.question_item {
    font-size: 20px;
    margin-top: 15px;
    margin-left: 15px;
    line-height: 180%;
}

.link {
    color: #fffffe;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 1024px) {
    .main {
        width: 90%;
    }
    .flex_column {
        flex-direction: column;
    }
    .two_column {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .main {
        width: 95%;
        min-width: 100px;
        padding: 10px;
    }

    .nameArea {
        font-size: 23px;
    }

    .basic_info {
        font-size: 12px;
    }

    .icon {
        height: 100px !important;
    }

    .analyzeArea h2 {
        font-size: 20px;
    }

    .analyzeArea p {
        font-size: 12px;
    }

    .usage {
        margin-top: 40px;
        width: 200px;
    }

    .usage li {
        font-size: 10px;
    }

    .match_text {
        font-size: 12px;
    }

    .subheading {
        font-size: 20px;
    }

    .question_item {
        font-size: 12px;
    }

    .link {
        font-size: 12px;
    }

    .mobile_none {
        display: none;
    }
}
