.wrapper{
  width: 100%;
  background-color: #73BCFF;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5rem 0;
}

.title {
  font-family: 'Monomaniac One', sans-serif;
  font-size: 2.5rem;
  color: #fffffe;
  -webkit-text-stroke: 1.5px #000000;
  text-stroke: 1.5px #000000;
  margin-bottom: 1rem;
}

.description {
  font-family: var(--font-notojp);
  font-size: .8rem;
}
