.wrapper {
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 30px;
    padding: 40px;
    background-color: #fffffe;
    display: flex;
    flex-direction: row;
    font-size: 20px;
}

.icon {
    object-fit: contain;
    position: relative !important;
    width: auto !important;
    height: 150px !important;
    border-radius: 10px;
}

.student_info,
.match_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 50px;
}

.eval {
    margin: 5px 0px 5px 10px;
    font-weight: bold;
}

.evalSwitch_S {
    color: #dd54cf;
}

.evalSwitch_A {
    color: #f5101e;
}

.evalSwitch_B {
    color: #2bb939;
}

.evalSwitch_C {
    color: #1043f5;
}

.linkArea {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
}

@media screen and (max-width: 1200px) {
    .student_info,
    .match_info {
        margin-left: 15px;
    }
}

@media (max-width: 480px) {
    .wrapper {
        margin-top: 10px;
        font-size: 12px;
        padding: 15px;
    }

    .icon {
        height: 80px !important;
    }

    .linkArea {
        display: none;
    }
}
