.wrapper {
    border: 3px solid #000000;
    border-radius: 10px;
    margin-top: 30px;
    padding: 40px 25px;
    background-color: #fffffe;
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.icon {
    display: flex;
    align-items: center;
}

.student_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.match_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
}

.evalSwitch_S {
    margin: 5px 0;
    color: #dd54cf;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    margin-left: 10px;
}

.evalSwitch_A {
    margin: 5px 0;
    color: #f5101e;
    font-weight: bold;
    margin-left: 10px;
}

.evalSwitch_B {
    margin: 5px 0;
    color: #2bb939;
    font-weight: bold;
    margin-left: 10px;
}

.evalSwitch_C {
    margin: 5px 0;
    color: #1043f5;
    font-weight: bold;
    margin-left: 10px;
}

.judgeArea {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    font-size: 20px;
}
