.container {
    margin: 50px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #094067;
    width: 80%;
    border-radius: 10px;
}

.container h2 {
    font-size: 25px;
    margin: 20px 0;
}

.container p {
    font-size: 20px;
}

.wrapper {
    background-color: #fffffe;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
}
