.flex {
    display: flex;
    align-items: center;
}

.button_area {
    width: 30%;
}

.link_button {
    margin: 0 auto;
    width: 50px;
    font-size: 15px;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #094067;
    color: #fffffe;
}

@media (max-width: 1024px) {
    .button_area {
        display: none;
    }
}
