.flex {
    display: flex;
    align-items: center;
}

.button_area {
    margin-right: 50px;
    margin-left: 50px;
}

.link_button {
    padding: 20px;
    text-align: center;
    border-radius: 15px;
    background-color: #094067;
    color: #fffffe;
}

@media (max-width: 1024px) {
    .button_area {
        margin-left: 20px;
        margin-right: 20px;
    }
}
