.heading {
    color: #094067;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.textArea {
    border: 5px solid #094067;
    border-radius: 10px;
    padding: 30px 25px;
    width: 100%;
    background-color: #fffffe;
}

