.heading {
    color: #094067;
    height: 50px;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.textArea {
    border: 5px solid #094067;
    border-radius: 10px;
    padding: 30px 25px;
    width: 100%;
    background-color: #fffffe;
}

.adjust_height {
    /* 100% - height + margin-top + margin-bottom */
    height: calc(100% - 100px);
}

@media screen and (max-width: 480px) {
    .heading {
        height: 100%;
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: 18px;
    }
    .textArea {
        padding: 20px 15px;
    }
}
