.container {
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    width: 60%;
    min-width: 600px;
    background-color: #094067;
    border-radius: 10px;
    padding: 20px;
}

.nameArea {
    color: #fffffe;
    font-size: 35px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.inner {
    margin-top: 10px;
    background-color: #faf5f0;
    border-radius: 10px;
    padding: 20px 25px;
}

.heading {
    color: #094067;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.box {
    margin-left: auto;
    margin-right: 10px;
    padding: 20px 15px;
    width: 250px;
    text-align: left;
    border: 5px solid #2266a6;
    border-radius: 10px;
    background-color: #fffffe;
}

.box p {
    color: #094067;
    padding: 3px 0;
    font-size: 25px;
    font-family: "Murecho", sans-serif;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1px;
}

.flex_column {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* .question .textArea { */
/*     height: 240px; */
/*     overflow: scroll; */
/* } */

.imageArea {
    width: 45%;
}

.imageArea .textArea {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageArea img {
  height: 100%;
    width: 100%;
    border-radius: 10px;
}

.subheading {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
.textArea {
    border: 5px solid #094067;
    border-radius: 10px;
    padding: 30px 25px;
    width: 100%;
    background-color: #fffffe;
}

.textArea p {
    line-height: 2rem;
    width: 95%;
    margin: 0 auto;
}

.analyzeArea h2 {
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1.3rem;
    margin-top: 1.3rem;
}

/* analyzeAreaのh2の1個目に対するcss */
.analyzeArea h2:first-child {
    margin-top: 0;
}

.analyzeArea p {
    line-height: 2rem;
}

.usage {
    margin-top: 3rem;
    width: 250px;
}

.usage li {
    margin-top: 1rem;
}

.link {
    color: #fffffe;
    font-size: 20px;
    font-weight: 700;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
}
